.card {
    display: flex;
    flex-direction: column;
    width: 25%;
    flex-grow: 1;
    margin: 2rem 1rem;

    &-text-container {
      margin-top: -45px;
      background-color: #ffffff80;
      p {
        margin: 0;
      }
    }

    &__wrap {

        &--outer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
        }

        &--inner {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
        }
    }
}

.home-title {
  margin: 1rem 0 4rem 0;
}