nav {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0!important;
    li {
        margin: 0 1rem;
        a {
            h1 {
                margin: 1rem 0;
            }
        }
    }
}
}
 